@charset "utf-8";

html {width: 100%; height: 100%;
    margin: 0; padding: 0;}

body {width: 100%; height: 100%;
    margin: 0; padding: 2% 3%;
    font-size: 1.5rem; line-height: 1.6em;}

/*General*/
h1, h2, h3, h4, h5, h6 {margin: 0; font-size: 1.4rem; line-height: normal; font-weight: normal;}

*, *::before, *::after {box-sizing: border-box;}

.round {border-radius: 12px;}

/*Composite*/
.line{position:relative; display: flex; flex-direction: row; justify-content: space-evenly;
    padding: 1%; margin: 0;}
.line button{
    padding: 1%;}
.line h1{display: flex; justify-content:center;
    width: 100%;}

.list span {flex: 1 1 auto; overflow-y: scroll;}

.list{display: flex; flex-direction: column; justify-content: space-evenly;}
.list div {margin: 1%;}

.list span {height: 550px;}

#popUp{display: none; position: absolute; right: 0; top: 0; width: 100%; height: 100%; z-index: 900;}
#popUp div{position: absolute; width: 30%; height: 50%; right: 35%; top: 25%; margin:0; padding: 0;}
#popUp button {margin: 1%; padding: 2%;}
#popUp input{margin: 1%; padding: 2%;}
#popUp h1 {margin: 3% 1%; padding: 0}

#addProduct {padding: 1%; margin: 1%;}
#curve_chart {width: 100%; height: 485px;}

/*Basic grid*/
.one_half, .one_third, .two_third, .one_quarter, .two_quarter, .three_quarter{display:inline-block; float:left; margin:0 0 0 4.21052%;}

.first{margin-left:0; clear:left;}
.one_quarter{width:21.8421%;}
.one_third{width:30.52631%;}
.one_half, .two_quarter{width:47.89473%;}
.two_third{width:65.26315%;}
.three_quarter{width:73.94736%;}

/*
#FFBF69ff;
#7D6D86ff;
#433E56ff;
#9F6976ff;
#FF9F1Cff;
*/

/*Color properties*/
body {background-color: #7D6D86ff; scrollbar-color: #7D6D86ff #433E56ff}
.list div:first-child {background-color: #433E56ff; color: #FFBF69ff;}
.list div{background-color: #FFBF69ff; color: #231340;}

div.one_half:nth-child(1) {background-color: #391f69;}

#popUp {background-color: #433E56ff}
#popUp h1 {color: #FFBF69ff;}
#popUp button {background-color: #231340; color: #FFBF69ff;}
#popUp input, #popUp button {border-radius: 12px;}

button {background-color: #FFBF69ff; border: 0}

