<!DOCTYPE html>

<html>

<head>
    <title>SUPPLIED</title>
    <link href="style.css" rel="stylesheet" type="text/css">
</head>

<body>
    <div class="product_grid">
        <div class="product product_attr">
            <h1>Product name</h1>
            <h1>Quantity</h1>
            <h1>Price</h1>
            <h1>Forecast</h1>
        </div>
        <div class="product product_attr">
            <h1>Milk</h1>
            <h1>3</h1>
            <h1>10</h1>
            <h1>2 days</h1>
        </div>
    </div>
</body>

</html>