<!DOCTYPE html>

<html>

<head>
    <title>SUPPLIED</title>
    <link href="style.css" rel="stylesheet" type="text/css">
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
        google.charts.load('current', {
            'packages': ['corechart']
        });
        google.charts.setOnLoadCallback(drawChart);

        function drawChart() {
            var data = google.visualization.arrayToDataTable([
                ['Year', 'Sales', 'Expenses'],
                ['2004', 1000, 400],
                ['2005', 1170, 460],
                ['2006', 660, 1120],
                ['2007', 1030, 540]
            ]);

            var options = {
                title: 'Company Performance',
                curveType: 'function',
                backgroundColor: '#A2AFA1',
                legend: {
                    position: 'bottom'
                }
            };

            var chart = new google.visualization.LineChart(document.getElementById('curve_chart'));

            chart.draw(data, options);
        }
    </script>
</head>

<body>
    <table>
        <tr>
            <th>Product name</th>
            <th>Quantity</th>
            <th>Price</th>
            <th>Forecast</th>
        </tr>
        <tr>
            <td>Da</td>
            <td>Nu</td>
            <td>Alt</td>
            <td>Din</td>
        </tr>
        <tr>
            <td>Da</td>
            <td>Nu</td>
            <td>Alt</td>
            <td>Din</td>
        </tr>
        <tr>
            <td>Da</td>
            <td>Nu</td>
            <td>Alt</td>
            <td>Din</td>
        </tr>
    </table>
    <div id="curve_chart"></div>
    <!--<div class=" product_grid ">
        <div>
            <h1>Product name</h1>
            <h1>Quantity</h1>
            <h1>Price</h1>
            <h1>Forecast</h1>
        </div>
        <div>
            <h1>Milk</h1>
            <h1>3</h1>
            <h1>10</h1>
            <h1>2 days</h1>
        </div>
    </div>-->
</body>

</html>