<!DOCTYPE html>

<html>

<head>
    <title>SUPPLIED</title>
    <link href="style.css" rel="stylesheet" type="text/css">
</head>

<body>
    <table>
        <tr>
            <th>Product name</th>
            <th>Quantity</th>
            <th>Price</th>
            <th>Forecast</th>
        </tr>
        <tr>
            <td>Da</td>
            <td>Nu</td>
            <td>Alt</td>
            <td>Din</td>
        </tr>
        <tr>
            <td>Da</td>
            <td>Nu</td>
            <td>Alt</td>
            <td>Din</td>
        </tr>
        <tr>
            <td>Da</td>
            <td>Nu</td>
            <td>Alt</td>
            <td>Din</td>
        </tr>
    </table>
    <!--<div class="product_grid">
        <div>
            <h1>Product name</h1>
            <h1>Quantity</h1>
            <h1>Price</h1>
            <h1>Forecast</h1>
        </div>
        <div>
            <h1>Milk</h1>
            <h1>3</h1>
            <h1>10</h1>
            <h1>2 days</h1>
        </div>
    </div>-->
</body>

</html>