    @charset "utf-8";
    html {width: 100%; height: 100%;
        margin: 0; padding: 0;}
    
    body {height: 100%; width: 100%;
          margin: 0; padding: 0 5%;
          font-size: 1.5rem; line-height: 1.6em;
          background-color: burlywood}
    
    *, *::before, *::after {box-sizing: border-box;}
    
    h1, h2, h3, h4, h5, h6 {margin: 0; font-size: 1.4rem; line-height: normal; font-weight: normal;}

    table{height: 40%; width: 100%; margin: 0; border-collapse: collapse; color: #391f69}
    table tr{height: 50px; width: 100%;}
    table tr:nth-child(2n) {width: 100%; background-color: #FFBF69ff;}
    table tr:nth-child(2n + 1) {background-color: #7a6f9bff; color: #FFBF69ff}

    table th {height: 50px; border-right: #4E5069ff 3px solid; color: #FFBF69ff}
    table th:first-child {border-left: #4E5069ff 3px solid;}

    table tr td {padding: 0 1%; margin: 0;
                 border-right: #4E5069ff 3px solid;}
    table tr td:first-child {border-left: #4E5069ff 3px solid;}

    /*Grid design*/

    .template_grid
    {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template: "one two";
    }

    .one {grid-area: one;}
    .two {grid-area: two;}


    /*Chart design*/
    
    #curve_chart {
        margin-left: auto;
        margin-right: auto;
        height: 400px;
        width: 800px;
    }
    /*Color design*/
    /*.product_grid:nth-child(2n) {
    background-color: #123456;
    ;
}

.product_grid:nth-child(2n + 1) {
    background-color: #12e4f6;
    ;
}*/