@charset "utf-8";
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td,
th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    grid-area: product;
    background-color: #dd6127;
}

.product_grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(auto-fit, minmax(230px, 1fr));
}

.product {
    name: certain_name;
    quantity: certain_quantity;
}

h1 {
    border: 3px solid yellow;
    text-align: center;
}